[Desktop Entry]
Encoding=UTF-8
Name=kmidimon
Exec=kmidimon
Icon=kmidimon
Type=Application
Comment=ALSA Sequencer MIDI monitor
Categories=AudioVideo;Music
