<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kmidimon" version="2">
<MenuBar>
    <Menu name="Control"><text>C&amp;ontrol</text>
        <Action name="rewind" />
        <Action name="play" />
        <Action name="pause" />
        <Action name="forward" />
        <Action name="record" />
        <Action name="stop" />
    </Menu>
    <Menu name="Connections"><text>Connec&amp;tions</text>
        <Action name="connect_all" />
        <Action name="disconnect_all" />
        <Separator />
        <Action name="connections_dialog" />
    </Menu>
</MenuBar>
<Menu name="popup">
  <text>Display settings</text>
  <Action name="resize_columns" />
  <Menu name="tracks">
    <text>Tracks</text>
    <Action name="add_track"/> 
    <Action name="delete_track"/>
    <Action name="change_track"/>
  </Menu>
  <Menu name="columns">
    <text>Show Columns</text>
    <Action name="show_ticks"/> 
    <Action name="show_time"/> 
    <Action name="show_source"/> 
    <Action name="show_kind"/> 
    <Action name="show_channel"/> 
    <Action name="show_data1"/> 
    <Action name="show_data2"/>
  </Menu>
</Menu>
<ToolBar name="mainToolBar">
    <text>Main Toolbar</text>
    <Action name="file_open" />
    <Action name="file_save_as" />
    <Action name="file_quit" />
    <Separator />
    <Action name="rewind" />
    <Action name="play" />
    <Action name="pause" />
    <Action name="forward" />
    <Action name="record" />
    <Action name="stop" />
    <Separator />
    <Action name="options_configure" />
</ToolBar>
<State name="recording_state">
    <enable>
        <Action name="stop" />
    </enable>
    <disable>
        <Action name="record" />
        <Action name="rewind" />
        <Action name="play" />
        <Action name="forward" />
        <Action name="pause" />
    </disable>
</State>
<State name="stopped_state">
    <enable>
       <Action name="record" />
        <Action name="rewind" />
        <Action name="play" />
        <Action name="forward" />
    </enable>
    <disable>
        <Action name="stop" />
        <Action name="pause" />
    </disable>
</State>
<State name="playing_state">
    <enable>
        <Action name="stop" />
        <Action name="pause" />
    </enable>
    <disable>
        <Action name="record" />
        <Action name="rewind" />
        <Action name="play" />
        <Action name="forward" />
    </disable>
</State>
</kpartgui>
